*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #2b037a;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Press Start 2P", system-ui;
}

h1.rock{
    color: gray;
}

h1.scissors{
    color: red;
}

h1.paper{
    color: #88dc65;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: x-large;
    margin: 60px 20px;
}

#container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#container button{
    font-family: "Press Start 2P", system-ui;
    font-size: 50px;
    padding: 10px;
    margin: 10px;
}

#container button:hover{
    background-color: lightgray;
    cursor: pointer;
}

.rockIcon{
    color: gray;
}

.scissorsIcon{
    color: red;
}

.paperIcon{
    color: #88dc65;
}

.message {
    text-align: center;
    padding: 10px;
    font-size: large;
}

.actualRound {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playerSide,
.computerSide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playerSelection,
.computerSelection{
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerScore,
.computerScore{
    padding: 10px;
}