*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #2b037a;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Press Start 2P", system-ui;
}

h1.rock{
    color: gray;
}

h1.scissors{
    color: red;
}

h1.paper{
    color: #88dc65;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: x-large;
    margin: 60px 20px;
}

.img{
    max-width: 100%;
    max-height: auto;
    flex-shrink: 1;
}

#container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#options{
    gap: 16px;
}

.button {
    padding: 20px;
    flex: 1;
    border: 2px solid black;
    border-radius: 5px;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

i#rock {
    color: gray;
}

i#scissors {
    color: red;
}

i#paper{
    color: #88dc65;
}

.text{
    margin: 20px;
    color: white;
    font-size: 20px;
}

button:hover,
i:hover{
    cursor: pointer;
    background-color: lightgray;
}